.profilePage {
<<<<<<< HEAD
     text-align: center;
}
img[profile-image] {
    border-radius: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    display: block;
    width: 60%;
    height: auto;
  }
  .playerTitle{
      text-shadow: 1em;
      text-align: center;
  }
  .descriptionStyleOne{
      text-shadow: 0.8em;
      text-align: center;
  }
  .descriptionStyleTwo{
     text-shadow: 0.6em;
      text-align: center;
  }
  .submenu{
      display: none;
  }
  #getInfo, #info{
      padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3; 
  }
  #info{
       padding: 50px;
    display: none;
  }
.frontElement {
    position: relative;
    top: 0;
    background-color: lightblue;
    z-index: 1;
}

.hiddenElement {
    position: relative;
    top: -40px;
    z-index: -1;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -o-transition: top 0.5s;
    transition: top 0.5s;
}

.frontElement:hover + .hiddenElement {
    top: 0px;
=======
  ion-item-divider {
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  ion-item-divider[styleOne] {
    background-color: #ffc520;
  }

  ion-item-divider[styleTwo] {
    background-color: #51a7e8;
  }

  ion-item-divider[styleThree] {
    background-color: #000;
    color: #fff;
  }

  img[profile-image] {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    height: auto;
  }

  div[team-info] {
    text-align: center;
    margin: 15px;
  }

  div[position-info] {
    text-align: center;
    margin: 15px;
  }
>>>>>>> cafe8b5edfcb6adaffe5d9f2107507981726f8cb
}
